spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/linguist_db}
    username: ${DB_USERNAME:linguist}
    password: ${DB_PASSWORD:linguist}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
